.landing-img-container img {
  width: 90%;
  position: absolute;
  right: 0;
  max-height: calc(100% + 8rem);
  bottom: -8rem;
  z-index: 20;
}


.ayobowan-section {
  padding: 5rem 0 3rem;
  background-color: #fff1d2;
}

.flavour-desc {
  padding: 5rem 0;
}

.flavour-img-container {
  height: 100%;
  padding: 1.5rem;
}

.flavour-img {
  background-image: url('../Assets/images/flavour-img.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.customers-section {
  padding: 5rem 0 3rem;
  background-color: #fff1d2;
}

.customers-section p{
  max-width: 80ch;
  margin: 0 auto;
}


.testimonial-item{
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 3rem 1.5rem;
  border-radius: 2rem;
  text-align: center;
}

.testimonial-item .name {
  color: #920000;
  margin-bottom: 0.5rem;
}

.testimonial-text {
  font-weight: 600;
}

.rating-container {
  width: 100%;
  margin: 1rem 0;
}

.rating-container img {
  width: 10rem;
}

.person-container{
  width: 10rem;
  display: flex;
  justify-content: center;
}

.person-img img {
  width: 30%;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .flavour-img-container {
    margin: 0 auto;
    height: 15rem;
  }
}
